<h1 id="store"><a href="/store">Comic-Con Collectibles!</a></h1>
<ul class="right">
  <li><a href="/store/new" class="new-link">New Mystery Box</a></li>
    <% if(currentUser) { %>
      <li>Welcome, <%=currentUser.username%></li>
    <li>
      <form class="" action="/sessions?_method=DELETE" method="post">
        <input type="submit" value="Log Out" class="btn-small red">
      </form>
    </li>
  <% } else {%>
    <li><a href="/users/new">Sign Up</a> </li>
    <li><a href="/sessions/new">Log In</a> </li>
    <% } %>
</ul>
