<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Comic Con Collectibles</title>
  </head>
  <body
    <nav>
      <h1 id="store"><a href="/store">Comic-Con Collectibles!</a></h1>
      <a href="/store/new" class="new-link">New Mystery Box</a>
    </nav>
      <div class="container">
        <div class="comics">
          <% comics.forEach( comic => { %>
            <div class="card">
              <h4><%= comic.name %></h4>
              <a href="/store/<%=comic._id%>">
                <img src="<%= comic.img %>" alt=""></a>
                <h5>Price: $<%=comic.price %></h5>
            </div>
          <% }) %>
        </div>
      </div>
  </body>
</html>
